ParallelFileReading/.vs/ParallelFileReading/FileContentIndex/5b07bcd3-e867-4bd5-bd11-f24699f09607.vsidx
ParallelFileReading/.vs/ParallelFileReading/v17/.suo
ParallelFileReading/.vs/ParallelFileReading/v17/DocumentLayout.json
ParallelFileReading/ParallelFileReading/ParallelFileReading.csproj
ParallelFileReading/ParallelFileReading/obj/ParallelFileReading.csproj.nuget.dgspec.json
ParallelFileReading/ParallelFileReading/obj/ParallelFileReading.csproj.nuget.g.props
ParallelFileReading/ParallelFileReading/obj/ParallelFileReading.csproj.nuget.g.targets
ParallelFileReading/ParallelFileReading/obj/project.assets.json
ParallelFileReading/ParallelFileReading/obj/project.nuget.cache
ParallelFileReading/ParallelFileReading/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
ParallelFileReading/ParallelFileReading/obj/Debug/net8.0/ParallelFileReading.AssemblyInfo.cs
ParallelFileReading/ParallelFileReading/obj/Debug/net8.0/ParallelFileReading.AssemblyInfoInputs.cache
ParallelFileReading/ParallelFileReading/obj/Debug/net8.0/ParallelFileReading.assets.cache
ParallelFileReading/ParallelFileReading/obj/Debug/net8.0/ParallelFileReading.GeneratedMSBuildEditorConfig.editorconfig
ParallelFileReading/ParallelFileReading/obj/Debug/net8.0/ParallelFileReading.GlobalUsings.g.cs
ParallelFileReading/ParallelFileReading/bin/Debug/net8.0/ParallelFileReading.deps.json
ParallelFileReading/ParallelFileReading/bin/Debug/net8.0/ParallelFileReading.dll
ParallelFileReading/ParallelFileReading/bin/Debug/net8.0/ParallelFileReading.exe
ParallelFileReading/ParallelFileReading/bin/Debug/net8.0/ParallelFileReading.pdb
ParallelFileReading/ParallelFileReading/bin/Debug/net8.0/ParallelFileReading.runtimeconfig.json
ParallelFileReading/ParallelFileReading/obj/Debug/net8.0/apphost.exe
ParallelFileReading/ParallelFileReading/obj/Debug/net8.0/ParallelFileReading.csproj.BuildWithSkipAnalyzers
ParallelFileReading/ParallelFileReading/obj/Debug/net8.0/ParallelFileReading.csproj.CoreCompileInputs.cache
ParallelFileReading/ParallelFileReading/obj/Debug/net8.0/ParallelFileReading.csproj.FileListAbsolute.txt
ParallelFileReading/ParallelFileReading/obj/Debug/net8.0/ParallelFileReading.dll
ParallelFileReading/ParallelFileReading/obj/Debug/net8.0/ParallelFileReading.genruntimeconfig.cache
ParallelFileReading/ParallelFileReading/obj/Debug/net8.0/ParallelFileReading.pdb
ParallelFileReading/ParallelFileReading/obj/Debug/net8.0/ref/ParallelFileReading.dll
ParallelFileReading/ParallelFileReading/obj/Debug/net8.0/refint/ParallelFileReading.dll
ParallelFileReading/.vs/ParallelFileReading/DesignTimeBuild/.dtbcache.v2
ParallelFileReading/.vs/ParallelFileReading/FileContentIndex/eaa73a49-1514-419d-986b-6a2955e6c56d.vsidx
ParallelFileReading/.vs/ParallelFileReading/v17/DocumentLayout.backup.json
ParallelFileReading/.vs/ParallelFileReading/FileContentIndex/1478489d-c68e-47d2-8e44-ac197fe169c3.vsidx
ParallelFileReading/.vs/ParallelFileReading/FileContentIndex/178ce9c6-b6f5-4f3a-8ce2-cec4f22f6198.vsidx
ParallelFileReading/.vs/ParallelFileReading/FileContentIndex/85ec0465-6c4f-4e9a-929e-294619bc6bef.vsidx
ParallelFileReading/.vs/ParallelFileReading/FileContentIndex/cff6ef71-e469-435f-96f9-6ea194a465df.vsidx
ParallelFileReading/.vs/ParallelFileReading/FileContentIndex/f9b10121-e19b-4b72-8314-34be540d1b91.vsidx
ParallelFileReading/ParallelFileReading/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
ParallelFileReading/ParallelFileReading/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
ParallelFileReading/ParallelFileReading/obj/Debug/net8.0/Parallel.22A7CECA.Up2Date
ParallelFileReading/ParallelFileReading/obj/Debug/net8.0/ParallelFileReading.csproj.AssemblyReference.cache
ParallelFileReading/ParallelFileReading/obj/Debug/net8.0/ParallelFileReading.sourcelink.json
