ParallelFileReading/.vs/ParallelFileReading/FileContentIndex/5b07bcd3-e867-4bd5-bd11-f24699f09607.vsidx
ParallelFileReading/.vs/ParallelFileReading/v17/.suo
ParallelFileReading/.vs/ParallelFileReading/v17/DocumentLayout.json
ParallelFileReading/ParallelFileReading/ParallelFileReading.csproj
ParallelFileReading/ParallelFileReading/obj/ParallelFileReading.csproj.nuget.dgspec.json
ParallelFileReading/ParallelFileReading/obj/ParallelFileReading.csproj.nuget.g.props
ParallelFileReading/ParallelFileReading/obj/ParallelFileReading.csproj.nuget.g.targets
ParallelFileReading/ParallelFileReading/obj/project.assets.json
ParallelFileReading/ParallelFileReading/obj/project.nuget.cache
ParallelFileReading/ParallelFileReading/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
ParallelFileReading/ParallelFileReading/obj/Debug/net8.0/ParallelFileReading.AssemblyInfo.cs
ParallelFileReading/ParallelFileReading/obj/Debug/net8.0/ParallelFileReading.AssemblyInfoInputs.cache
ParallelFileReading/ParallelFileReading/obj/Debug/net8.0/ParallelFileReading.assets.cache
ParallelFileReading/ParallelFileReading/obj/Debug/net8.0/ParallelFileReading.GeneratedMSBuildEditorConfig.editorconfig
ParallelFileReading/ParallelFileReading/obj/Debug/net8.0/ParallelFileReading.GlobalUsings.g.cs
ParallelFileReading/ParallelFileReading/bin/Debug/net8.0/ParallelFileReading.deps.json
ParallelFileReading/ParallelFileReading/bin/Debug/net8.0/ParallelFileReading.dll
ParallelFileReading/ParallelFileReading/bin/Debug/net8.0/ParallelFileReading.exe
ParallelFileReading/ParallelFileReading/bin/Debug/net8.0/ParallelFileReading.pdb
ParallelFileReading/ParallelFileReading/bin/Debug/net8.0/ParallelFileReading.runtimeconfig.json
ParallelFileReading/ParallelFileReading/obj/Debug/net8.0/apphost.exe
ParallelFileReading/ParallelFileReading/obj/Debug/net8.0/ParallelFileReading.csproj.BuildWithSkipAnalyzers
ParallelFileReading/ParallelFileReading/obj/Debug/net8.0/ParallelFileReading.csproj.CoreCompileInputs.cache
ParallelFileReading/ParallelFileReading/obj/Debug/net8.0/ParallelFileReading.csproj.FileListAbsolute.txt
ParallelFileReading/ParallelFileReading/obj/Debug/net8.0/ParallelFileReading.dll
ParallelFileReading/ParallelFileReading/obj/Debug/net8.0/ParallelFileReading.genruntimeconfig.cache
ParallelFileReading/ParallelFileReading/obj/Debug/net8.0/ParallelFileReading.pdb
ParallelFileReading/ParallelFileReading/obj/Debug/net8.0/ref/ParallelFileReading.dll
ParallelFileReading/ParallelFileReading/obj/Debug/net8.0/refint/ParallelFileReading.dll
ParallelFileReading/.vs/ParallelFileReading/DesignTimeBuild/.dtbcache.v2
ParallelFileReading/.vs/ParallelFileReading/FileContentIndex/eaa73a49-1514-419d-986b-6a2955e6c56d.vsidx
ParallelFileReading/.vs/ParallelFileReading/v17/DocumentLayout.backup.json
